* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.progress {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
  background-color: #ffffffae;
  width: 540px !important;
  height: 25px;
  border-radius: 5px;

  div {
    background-color: #2E86C1 !important;
    height: 25px !important;
  }
}

#finder {
  overflow-x: hidden;
  background: #152e65;
  position: relative;

  .container {
    padding: 0 20px;
    max-width: 1500px;
    margin: 0 auto;

    .row {
      display: flex;
      align-items: center;
      height: 100vh;
      justify-content: space-between;

      .scan-left {
        width: 500px;
        height: 700px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 500px;
          height: 680px;
          object-fit: cover;
        }
      }

      .scan-right {
        width: 500px;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
          width: 500px;
          height: 680px;
          object-fit: contain;
          opacity: 0.8;
          object-fit: cover;
        }
      }
    }
  }
}

.canvas {
  position: absolute;
  width: 100%;
  height: 680px;
  display: grid;
  place-items: center;
  top: 10px;

  canvas {
    width: 720px;
    height: 105%;
  }
}

.finish {
  position: fixed;
  top: 50%;
  left: 50%;
  display: grid;
  place-items: center;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

  &::after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, 0.5);
  }

  .content {
    width: 300px;
    height: 200px;
    background: #2E86C1;
    position: relative;
    z-index: 10;
    display: grid;
    place-items: center;
    border-radius: 30px;
  }

  svg {
    fill: #fff;
    font-size: 120px;
    animation: slideAnimation 4s ease-in-out infinite alternate;
  }

  .content {
    width: 300px;
    height: 200px;
    background: #2E86C1;
    position: relative;
    z-index: 10;
    display: grid;
    place-items: center;
    border-radius: 30px;
  }

  svg {
    fill: #fff;
    font-size: 130px;
  }
}

@media only screen and (max-width:1024px) {
  #finder {
    .container {
      .row {

        .scan-left,
        .scan-right {
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .progress {
    width: 250px !important;
    height: 10px;

    div {
      height: 10px !important;
    }
  }

}