* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.circular-button:active {
  transform: scale(0.9);
}

.aws-btn--primary .aws-btn__content {
  border-radius: 50% !important;
  position: absolute !important;
  top: -50px !important;
  background: green !important;
}

.aws-btn--visible {
  height: 320px !important;
}

.aws-btn:before {
  display: none;
}

.aws-btn--primary .aws-btn__wrapper:before {
  border-radius: 50% !important;
  width: 500px !important;
  height: 490px !important;
  position: absolute;
  left: -25px !important;
  top: -70px !important;
}

.progress {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
  background-color: rgba(255, 255, 255, 0.6823529412);
  width: 540px !important;
  height: 25px;
  border-radius: 5px;
}
.progress div {
  background-color: #2E86C1 !important;
  height: 25px !important;
}

#finder {
  overflow-x: hidden;
  background: #152e65;
  position: relative;
  height: 100vh;
  z-index: 1;
}
#finder .container {
  padding: 0 20px;
  max-width: 1450px;
  margin: 0 auto;
}
#finder .container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
#finder .container .row .scan-left {
  display: flex;
  align-items: center;
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 50%;
  justify-content: center;
  position: relative;
  transition: 300ms all;
  box-shadow: rgba(28, 28, 217, 0.2) 0px 7px 29px 0px;
}
#finder .container .row .scan-left.active {
  transform: scale(0.9);
}
#finder .container .row .scan-left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#finder .container .row .scan-right {
  display: flex;
  align-items: center;
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 50%;
  justify-content: center;
  position: relative;
  transition: 500ms all;
  box-shadow: rgba(28, 28, 217, 0.2) 0px 7px 29px 0px;
}
#finder .container .row .scan-right.active {
  transform: scale(0.9);
}
#finder .container .row .scan-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.finish {
  position: fixed;
  top: 0%;
  left: 0%;
  display: grid;
  place-items: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 500ms all;
  transform: scale(0);
}
.finish.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.finish::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, 0.2);
}
.finish .content {
  width: 300px;
  height: 200px;
  background: #2E86C1;
  position: relative;
  z-index: 10;
  display: grid;
  place-items: center;
  border-radius: 30px;
}
.finish svg {
  fill: #fff;
  font-size: 120px;
  animation: slideAnimation 4s ease-in-out infinite alternate;
}
.finish .content {
  width: 300px;
  height: 200px;
  background: #2E86C1;
  position: relative;
  z-index: 10;
  display: grid;
  place-items: center;
  border-radius: 30px;
}
.finish svg {
  fill: #fff;
  font-size: 130px;
}

@media only screen and (max-width: 1024px) {
  #finder .container {
    padding: 0;
  }
  #finder .container .row .scan-left,
  #finder .container .row .scan-right {
    background: none;
  }
  #finder .container .row .scan-left img,
  #finder .container .row .scan-right img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 80%;
    height: 80%;
  }
  .progress {
    width: 200px !important;
    height: 10px;
  }
  .progress div {
    height: 10px !important;
  }
}/*# sourceMappingURL=App.css.map */