* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

.progress {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
  background-color: #fff;
  width: 550px !important;
  height: 20px;
  border-radius: 5px;
}
.progress div {
  background-color: #2E86C1 !important;
  height: 20px !important;
}

#finder {
  overflow-x: hidden;
  background: #152e65;
  position: relative;
}
#finder .container {
  padding: 0 20px;
  max-width: 1500px;
  margin: 0 auto;
}
#finder .container .row {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}
#finder .container .row .scan-left {
  width: 500px;
  height: 700px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#finder .container .row .scan-left img {
  width: 500px;
  height: 680px;
  -o-object-fit: cover;
     object-fit: cover;
}
#finder .container .row .scan-right {
  width: 500px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#finder .container .row .scan-right img {
  width: 500px;
  height: 680px;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.8;
  -o-object-fit: cover;
     object-fit: cover;
}

.canvas {
  position: absolute;
  width: 100%;
  height: 680px;
  display: grid;
  place-items: center;
  top: 10px;
}
.canvas canvas {
  width: 720px;
  height: 105%;
}

.finish {
  position: fixed;
  top: 50%;
  left: 50%;
  display: grid;
  place-items: center;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.finish::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, 0.5);
}
.finish .content {
  width: 300px;
  height: 200px;
  background: #2E86C1;
  position: relative;
  z-index: 10;
  display: grid;
  place-items: center;
  border-radius: 30px;
}
.finish svg {
  fill: #fff;
  font-size: 120px;
  animation: slideAnimation 4s ease-in-out infinite alternate;
}
.finish .content {
  width: 300px;
  height: 200px;
  background: #2E86C1;
  position: relative;
  z-index: 10;
  display: grid;
  place-items: center;
  border-radius: 30px;
}
.finish svg {
  fill: #fff;
  font-size: 120px;
  position: absolute;
  animation: slideAnimation 4s ease-in-out infinite;
}
@keyframes slideAnimation {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
    font-size: 140px;
  }
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}

@media only screen and (max-width: 1024px) {
  #finder .container .row .scan-left img,
  #finder .container .row .scan-right img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .progress {
    width: 250px !important;
    height: 10px;
  }
  .progress div {
    height: 10px !important;
  }
}/*# sourceMappingURL=App.css.map */